
<canvas id="canvas"></canvas>
<div class="nav">
  <ul class="list">
   <a href="https://i.imgur.com/GDrBeKT.jpg"> <img class="nav-img" src="https://i.imgur.com/GDrBeKT.jpg" alt="Pallavi Nawani | Backend Developer" title="Pallavi Nawani | Backend Developer">
   </a>
    <ul class="list">
      <li class="tabs"><a class="active" href="#about">About</a></li>
      <li class="tabs"><a href="#projects">Projects</a></li>
      <li class="tabs"><a href="#blog">Blogs</a></li>
      <li class="tabs"><a href="#contact">Contact</a></li>
    </ul>
  </ul>
</div>
<div class="container">
  <img class="img image" width="300" alt="Angular Logo" src="https://i.imgur.com/GDrBeKT.jpg">
  <div class="name"><b>Pallavi Nawani</b></div>
  <div class="box" >I am a postgraduate from Delhi University. Passed with a dregree of MSc in informatics with a CGPA of 8.32.I am a postgraduate from Delhi University
    I am a postgraduate from Delhi UniversityI am a postgraduate from Delhi UniversityI am a postgraduate from Delhi UniversityI am a postgraduate from Delhi University
    I am a postgraduate from Delhi UniversityI am a postgraduate from Delhi UniversityI am a postgraduate from Delhi UniversityI am a postgraduate from Delhi University
  </div>
  <div class="box">hellobdjckjvkjqevkjebvkjbvkjbkjvbkjbvkI am a postgraduate from Delhi University
    I am a postgraduate from Delhi UniversityI am a postgraduate from Delhi University
    I am a postgraduate from Delhi UniversityI am a postgraduate from Delhi University
    I am a postgraduate from Delhi UniversityI am a postgraduate from Delhi University
  </div>
  <div class="footer">
    <i  class="fa fa-skype"></i>
    <i  class="fa fa-facebook"></i>
    <i  class="fa fa-linkedin"></i>
    <i  class="fa fa-twitter"></i>
  </div>
</div>


<!--<div class="main">-->
<!--<div class="nav">-->
<!--<ul class="list">-->
<!--<img class="nav-img" src="https://i.imgur.com/GDrBeKT.jpg" alt="Pallavi Nawani | Backend Developer" title="Pallavi Nawani | Backend Developer">-->
<!--<ul class="list">-->
<!--<li class="tabs"><a class="active" href="#about">About</a></li>-->
<!--<li class="tabs"><a href="#projects">Projects</a></li>-->
<!--<li class="tabs"><a href="#blog">Blogs</a></li>-->
<!--<li class="tabs"><a href="#contact">Contact</a></li>-->
<!--</ul>-->
<!--</ul>-->
<!--</div>-->
<!--<h1>-->
<!--<p style="font-size: 25px;">Feel free to drop any suggestion..-->
<!--<a [routerLink]="['/suggestion-create']"> Click-->
<!--&lt;!&ndash;<span class="glyphicon glyphicon-plus plus-sign" aria-hidden="true"></span>&ndash;&gt;-->
<!--</a>-->
<!--</p>-->
<!--Welcome to Pallavi Nawani's Portfolio..-->
<!--</h1>-->
<!--<img class="profile-img" width="300" alt="Angular Logo" src="https://i.imgur.com/GDrBeKT.jpg">-->
<!--<h2>An enthusiastic developer.....</h2>-->
<!--</div>-->
<!--<ul class="list">-->
<!--<li class="footer-tab">-->
<!--<h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Privacy</a></h2>-->
<!--</li>-->
<!--<li class="footer-tab">-->
<!--<h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">Reach me</a></h2>-->
<!--</li>-->
<!--<li class="footer-tab">-->
<!--<h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Projects</a></h2>-->
<!--</li>-->
<!--</ul>-->





