<div class="main">
  <div class="nav">
    <ul class="list">
      <img class="nav-img" src="https://i.imgur.com/GDrBeKT.jpg" alt="Pallavi Nawani | Backend Developer" title="Pallavi Nawani | Backend Developer">
      <ul class="list">
        <li class="tabs"><a class="active" href="#about">About</a></li>
        <li class="tabs"><a href="#projects">Projects</a></li>
        <li class="tabs"><a href="#blog">Blogs</a></li>
        <li class="tabs"><a href="#contact">Contact</a></li>
      </ul>
    </ul>
  </div>
  <h1>
    <p style="font-size: 25px;">Feel free to drop any suggestion..
      <a [routerLink]="['/suggestion-create']" routerLinkActive="active">
        <span class="glyphicon glyphicon-plus plus-sign" aria-hidden="true"></span>
      </a>
    </p>
    Welcome to Pallavi Nawani's Portfolio..
  </h1>
  <img class="profile-img" width="300" alt="Angular Logo" src="https://i.imgur.com/GDrBeKT.jpg">
  <h2>An enthusiastic developer.....</h2>
</div>
<ul class="list">
  <li class="footer-tab">
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Privacy</a></h2>
  </li>
  <li class="footer-tab">
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">Reach me</a></h2>
  </li>
  <li class="footer-tab">
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Projects</a></h2>
  </li>
</ul>



