<div style="text-align:center; background-color: #88808073;">
  <div class="nav">
    <ul>
      <ul>
        <li><a class="active" href="#about">About</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#blog">Blogs</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </ul>
  </div>
  <h1>
    <p>Feel free to drop any suggestion..
      <a [routerLink]="['/suggestion-create']" routerLinkActive="active">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </a>
    </p>
    Welcome to Pallavi Nawani's Portfolio..
  </h1>
  <img class="profile-img" width="300" alt="Angular Logo" src="https://i.imgur.com/GDrBeKT.jpg">
</div>
<h2>An enthusiastic developer.....</h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Blogs</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">About</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Projects</a></h2>
  </li>
</ul>



